<h2><b>Formulário Para Contribuições</b></h2>
<p><b>Protocolo</b>: {{ message_body.protocolo }}</p>
<p><b>Nome</b>: {{ message_body.nome }}</p>
<p><b>E-mail</b>: {{ message_body.email }}</p>
<p><b>CPF</b>: {{ message_body.cpf }}</p>
<p><b>Orgão</b>: {{ message_body.orgao }}</p>
<p><b>Cargo</b>: {{ message_body.cargo }}</p>
<p><b>Contribuição</b>: {{ message_body.texto }}</p>
<p><b>Justificativa</b>: {{ message_body.justificativa }}</p>